{#
  ./templates/bundles/FOSUserBundle/Security/login_content.html.twig
#}

{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="fos-user" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="fos-user-item">
      <label for="username">{{ 'security.login.username'|trans }}</label>
      <input class="float-right" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
    </div>

    <div class="fos-user-item">
      <label for="password">{{ 'security.login.password'|trans }}</label>
      <input class="float-right" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>

    <div class="fos-user-item2">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
      <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input class="btn-green" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
