{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tag Tags(id, nomFr, nomEn)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(tags, 'nom' ~ app.request.locale | capitalize) }}
{% endblock %}

{% block content1 %}

<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Tag : {{ attribute(tags, 'nom' ~ app.request.locale | capitalize) }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <ul class="grid cs-style-2">
          {% include 'projets/index.html.twig' with {projets: tags.projets} %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
