{#
  ./templates/posts/index.html.twig
  Variables disponibles :
    - posts array (Post (id, titreFr, titreTexteLeadFr, texteLeadFr, titreTexteSuiteFr, texteSuiteFr, titreEn, titreTexteLeadEn, texteLeadEn,
                         titreTexteSuiteEn, texteSuiteEn, image, dateCreation, Catégorie, updatedAt))
#}

{% for post in posts %}

  <div class="row">
    <div class="col-xs-4">
      <a href="{{ path('app_posts_show', {'id': post.id, 'slug' : attribute(post, 'slug' ~ app.request.locale | capitalize)}) }}">
        <img src="{{ asset('images/blog/' ~ post.image) }}" alt="{{ attribute(post, 'titre' ~ app.request.locale | capitalize) }}">
      </a>
    </div>
    <div class="col-xs-8">
      <div class="caption">
        <a href="{{ path('app_posts_show', {'id': post.id, 'slug' : attribute(post, 'slug' ~ app.request.locale | capitalize)}) }}">
          {{ attribute(post, 'titre' ~ app.request.locale | capitalize) }}
        </a>
      </div>
      <div class="date">{{ post.dateCreation | date('d-m-Y')}}</div>
      <div class="intro">{{ attribute(post, 'texteLead' ~ app.request.locale | capitalize) | slice(0,100) | raw }}...
        <a href="{{ path('app_posts_show', {'id': post.id, 'slug' : attribute(post, 'slug' ~ app.request.locale | capitalize)}) }}">
          {{ 'bouton.read' | trans }}
        </a>
      </div>
    </div>
  </div>

{% endfor %}
