{#
  ./templates/posts/paginate.html.twig
  Variables disponibles :
    - posts array (Post (id, titreFr, titreTexteLeadFr, texteLeadFr, titreTexteSuiteFr, texteSuiteFr, titreEn, titreTexteLeadEn, texteLeadEn,
                         titreTexteSuiteEn, texteSuiteEn, image, dateCreation, Catégorie, updatedAt))
#}

<!-- Blog Post Excerpt -->
{% for post in posts %}
  <div class="col-sm-6">
    <div class="blog-post blog-single-post">
      <div class="single-post-title">
        <h2>{{ attribute(post, 'titre' ~ app.request.locale | capitalize) }}</h2>
      </div>

      <div class="single-post-image">
        <img src="{{ asset('images/blog/' ~ post.image) }}" alt="{{ attribute(post, 'titre' ~ app.request.locale | capitalize) }}">
      </div>

      <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>{{ post.dateCreation | date('d-m-Y')}}
        <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
      </div>

      <div class="single-post-content">
        <p>{{ attribute(post, 'texteLead' ~ app.request.locale | capitalize) | slice(0,300) }}...</p>
        <a href="{{ path('app_posts_show', {'id': post.id, 'slug' : attribute(post, 'slug' ~ app.request.locale | capitalize)}) }}" class="btn">{{ 'bouton.read' | trans }}</a>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Blog Post Excerpt -->

<!-- Pagination -->
<div class="pagination-wrapper col-sm-12">
  <div class="pagination pagination-sm">
    {{ knp_pagination_render(posts) }}
  </div>
</div>
