{#
  ./templates/posts/recent.html.twig
  Variables disponibles :
    - posts array (Post (id, titreFr, titreTexteLeadFr, texteLeadFr, titreTexteSuiteFr, texteSuiteFr, titreEn, titreTexteLeadEn, texteLeadEn,
                         titreTexteSuiteEn, texteSuiteEn, image, dateCreation, Catégorie, updatedAt))
#}

{% for post in posts %}
  <li>
    <a href="{{ path('app_posts_show', {'id': post.id, 'slug' : attribute(post, 'slug' ~ app.request.locale | capitalize)}) }}">
      {{ attribute(post, 'titre' ~ app.request.locale | capitalize) }}
    </a>
  </li>
{% endfor %}
