{#
  ./templates/posts/show.html.twig
  Variables disponibles:
    - post posts(id, titreFr, titreTexteLeadFr, texteLeadFr, titreTexteSuiteFr, texteSuiteFr, titreEn, titreTexteLeadEn, texteLeadEn,
                 titreTexteSuiteEn, texteSuiteEn, image, dateCreation, Catégorie, updatedAt)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(posts, 'titre' ~ app.request.locale | capitalize) }}
{% endblock %}

{% block content1 %}

  <!-- Page Title -->
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{{ 'post.titre' | trans }}</h1>
				</div>
			</div>
		</div>
	</div>

  <div class="section">
    <div class="container">
			<div class="row">
				<!-- Blog Post -->
				<div class="col-sm-8">
					<div class="blog-post blog-single-post">
						<div class="single-post-title">
							<h2>{{ attribute(posts, 'titre' ~ app.request.locale | capitalize) }}</h2>
						</div>
						<div class="single-post-image">
							<img src="{{ asset('images/blog/' ~ posts.image) }}" alt="{{ attribute(posts, 'titre' ~ app.request.locale | capitalize) }}">
						</div>
						<div class="single-post-info">
							<i class="glyphicon glyphicon-time"></i>{{ posts.dateCreation | date('d-m-Y')}}
              <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
						</div>
						<div class="single-post-content">
							<h3>{{ attribute(posts, 'titreTexteLead' ~ app.request.locale | capitalize) }}</h3>
							<p>{{ attribute(posts, 'texteLead' ~ app.request.locale | capitalize) | raw }}</p>
							<h3>{{ attribute(posts, 'titreTexteSuite' ~ app.request.locale | capitalize) }}</h3>
							<p>{{ attribute(posts, 'texteSuite' ~ app.request.locale | capitalize) | raw }}</p>
						</div>
					</div>
				</div>
				<!-- End Blog Post -->
				<!-- Sidebar -->
				<div class="col-sm-4 blog-sidebar">

					<h4>{{ 'post.asideRecent' | trans }}</h4>
					<ul class="recent-posts">
            {{ render(controller('App\\Controller\\PostsController::indexAction', {vue: 'recent' , limit: 5} )) }}
					</ul>
					<h4>{{ 'post.asideCategorie' | trans }}</h4>
					<ul class="blog-categories">
						{{ render(controller('App\\Controller\\CategoriesController::indexAction', {orderBy:{'nomFr':'ASC'} } )) }}
					</ul>

				</div>
				<!-- End Sidebar -->
			</div>
		</div>
  </div>

{% endblock %}
