{#
  ./templates/partials/footer.html.twig
#}

<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-footer col-md-4 col-xs-6">
        <h3>{{ 'contact.titreFooter' | trans }}</h3>
        <p class="contact-us-details">
            <b>{{ 'contact.adresse.titre' | trans }}</b> {{ 'contact.adresse.texte' | trans }}<br/>
            <b>{{ 'contact.phone.titre' | trans }}</b> {{ 'contact.phone.texte' | trans }}<br/>
            <b>{{ 'contact.fax.titre' | trans }}</b> {{ 'contact.fax.texte' | trans }}<br/>
            <b>{{ 'contact.email.titre' | trans }}</b> <a href="mailto:{{ 'contact.email.texte' | trans }}">{{ 'contact.email.texte' | trans }}</a>
          </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>{{ 'social.titre' | trans }}</h3>
        <p>{{ 'social.texte' | trans }}</p>
        <div>
          <a href="https://www.facebook.com/vactualart/" target="_blank"><img src="{{ asset('images/icons/facebook.png') }}" width="32" alt="Facebook"></a>
          <a href="https://twitter.com/vactualart" target="_blank"><img src="{{ asset('images/icons/twitter.png') }}" width="32" alt="Twitter"></a>
          <a href="https://fr.linkedin.com/" target="_blank"><img src="{{ asset('images/icons/linkedin.png') }}" width="32" alt="LinkedIn"></a>
          <a href="https://vactualart.com/feed/" target="_blank"><img src="{{ asset('images/icons/rss.png') }}" width="32" alt="RSS Feed"></a>
        </div>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
      <h3>{{ 'about.titre' | trans }}</h3>
      <p>{{ 'about.texte' | trans }}</p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">
          &copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> {{ 'texteFooter' | trans }} <a href="http://www.vactualart.com">Vactual Art</a>.
          {# | <a href="{{ path('fos_user_security_login') }}">Administration</a> #}



          {% if is_granted('ROLE_USER') %}
          | <a href="{{ path('easyadmin') }}">Administration</a> | <a href="{{path('fos_user_security_logout')}}">Déconnection</a>
          {% else %}
            | <a href="{{ path('fos_user_security_login') }}">Administration</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
