{#
  ./templates/partials/head.html.twig
#}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{{ 'title' | trans }}{% block title %} - {{ title }}{% endblock %}</title>

<!-- Bootstrap Core CSS -->
<link href="{{ asset('vendor/css/bootstrap.min.css') }}" rel="stylesheet" />

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ asset('vendor/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('vendor/css/custom.css') }}">

<script src="//use.edgefonts.net/bebas-neue.js"></script>

<!-- Custom Fonts & Icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('vendor/css/icomoon-social.css') }}">
<link rel="stylesheet" href="{{ asset('vendor/css/font-awesome.min.css') }}">

<script src="{{ asset('vendor/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
{% block stylesheets %}
  {# 'app' must match the first argument to addEntry() in webpack.config.js #}
  {{ encore_entry_link_tags('app') }}

  <!-- Renders a link tag (if your module requires any CSS)
       <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}
