{#
  ./templates/partials/nav.html.twig
#}

<div class="container">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{path('app_homepage', {_locale: app.request.locale}) }}"><img src="{{ asset('images/logo.png') }}" alt="Basica"></a>
  </div>

  <div class="collapse navbar-collapse">
    {# je charge le menu #}
    {% if pages is defined %}
      {{ render(controller('App\\Controller\\PagesController::indexAction', {current: pages.id} )) }}
    {% else %}
      {{ render(controller('App\\Controller\\PagesController::indexAction')) }}
    {% endif %}
  </div>

  <div class="float-right">
    <a class="{% if app.request.locale == 'fr' %}active{% endif %}" href="{{path(app.request.attributes.get("_route"), {_locale: 'fr', 'id': app.request.attributes.get('id'), 'slug' : app.request.attributes.get('slug') }) }}">FR </a>|
    <a class="{% if app.request.locale == 'en' %}active{% endif %}" href="{{path(app.request.attributes.get("_route"), {_locale: 'en', 'id': app.request.attributes.get('id'), 'slug' :  app.request.attributes.get('slug') }) }}">EN</a>
  </div>



</div>
