{#
  ./templates/partials/scripts.html.twig
#}

<!-- Twitter -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('vendor/js/jquery-1.9.1.min.js') }}"><\/script>')</script>
<script src="{{ asset('vendor/js/bootstrap.min.js') }}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{{ asset('vendor/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/js/scrolling-nav.js') }}"></script>



{% block javascripts %}
  {{ encore_entry_script_tags('app') }}

  <!-- Renders app.js & a webpack runtime.js file
      <script src="/build/runtime.js"></script>
      <script src="/build/app.js"></script> -->
{% endblock %}
