{#
  ./templates/pages/blog.html.twig
  Variables disponibles :
  - page pages(id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
               titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri )
#}

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ attribute(pages, 'titre' ~ app.request.locale | capitalize) }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      {{ render(controller('App\\Controller\\PostsController::paginateAction')) }}
    </div>
  </div>
 </div>
