{#
  ./templates/pages/contact.html.twig
  Variables disponibles :
  - page pages(id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
               titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri )
#}

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ attribute(pages, 'titre' ~ app.request.locale | capitalize) }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section section-map">
  <div class="col-sm-12" style="padding:0;">
    <!-- Map -->
    <div id="contact-us-map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.8568383384127!2d5.680495615737221!3d50.611197679497835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f41c3d702da7%3A0x2d5b3cb7b45da7ab!2sIEPS+Fl%C3%A9ron!5e0!3m2!1sfr!2sbe!4v1556539097170!5m2!1sfr!2sbe"></iframe>
      {# <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
          <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
      </iframe> #}
    </div>
    <!-- End Map -->
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <h3>{{ 'contact.titre' | trans }}</h3>
      </hr>
      <div class="col-sm-6">
        <!-- Contact Info -->
        <p class="contact-us-details">
          <b>{{ 'contact.adresse.titre' | trans }}</b> {{ 'contact.adresse.texte' | trans }}<br/>
          <b>{{ 'contact.phone.titre' | trans }}</b> {{ 'contact.phone.texte' | trans }}<br/>
          <b>{{ 'contact.fax.titre' | trans }}</b> {{ 'contact.fax.texte' | trans }}<br/>
          <b>{{ 'contact.email.titre' | trans }}</b> <a href="mailto:{{ 'contact.email.texte' | trans }}">{{ 'contact.email.texte' | trans }}</a>
        </p>
        <!-- End Contact Info -->
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
</div>
