{#
  ./templates/pages/home.html.twig
  Variables disponibles :
  - page pages(id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
               titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri )
#}

  <section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          {{ render(controller('App\\Controller\\ProjetsController::sliderAction')) }}
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
  </section>
  <!--/#main-slider-->

  <!-- Our Portfolio -->
  <div class="section section-white">
    <div class="container">
      <div class="row">

        <div class="section-title" >
          <h1>{{ 'home.recentWorks' | trans }}</h1>
        </div>
        <ul class="grid cs-style-3">
          {{ render(controller('App\\Controller\\ProjetsController::indexAction', {limit: 6})) }}
        </ul>
      </div>
    </div>
  </div>
  <!-- Our Portfolio -->
  <hr>

  <!-- Our Articles -->
  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Featured News -->
        <div class="col-sm-6 featured-news">
          <h2>{{ 'home.lastestPosts' | trans }}</h2>
          {{ render(controller('App\\Controller\\PostsController::indexAction', {limit: 3} )) }}
        </div>
        <!-- End Featured News -->

        <!-- Latest News FB -->
        <div class="col-sm-6 latest-news">
          <h2>{{ 'home.lastestNews' | trans }}</h2>
           <a class="twitter-timeline"
              data-width="100%" data-height="350px"
              data-theme="light" data-link-color="#aec62c"
              data-chrome="noheader nofooter noborders"
              href="https://twitter.com/vactualart?ref_src=twsrc%5Etfw">
             Tweets by vactualart
           </a>
        </div>
        <!-- End Featured News -->
      </div>
    </div>
  </div>
