{#
  ./templates/pages/index.html.twig
  Variables disponibles :
    - pages array (Page (id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
                         titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri))
#}

<ul class="nav navbar-nav navbar-right">
  {% for page in pages %}

    <li class="{% if current == page.id  %}active{% endif %}">
      <a href="{{ path('app_pages_show', {_locale: app.request.locale, 'id': page.id, 'slug' : attribute(page, 'slug' ~ app.request.locale | capitalize) }) }}">
        {{ attribute(page, 'titreMenu' ~ app.request.locale | capitalize) }}
      </a>
    </li>

  {% endfor %}
  {% if is_granted('ROLE_USER') %}
    <li>
      <a style="color:#AEC62C; text-transform:uppercase; font-weight: bolder;" href="{{path('fos_user_security_logout')}}">Déconnection</a>
    </li>
  {% endif %}
</ul>
