{#
  ./templates/pages/portfolio.html.twig
  Variables disponibles :
  - page pages(id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
               titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri )
#}

<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ attribute(pages, 'titre' ~ app.request.locale | capitalize) }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ attribute(pages, 'titreDescription' ~ app.request.locale | capitalize) }}</h2>
        <h3>{{ attribute(pages, 'sousTitreDescription' ~ app.request.locale | capitalize) }}</h3>
        <p>{{ attribute(pages, 'description' ~ app.request.locale | capitalize) }}</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <ul id="listWorks" class="grid cs-style-2">
        {{ render(controller('App\\Controller\\ProjetsController::indexAction', {limit:6})) }}
      </ul>
    </div>
    <ul class="pager">
      <li><a id="moreWorks" href="{{ path('app_projets_more') }}" data-url="{{ path('app_projets_more')}}">{{ 'bouton.more' | trans }}</a></li>
    </ul>
  </div>
</div>
