{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titreMenuFr, titreFr, titreDescriptionFr, sousTitreDescriptionFr, descriptionFr,
                 titreMenuEn, titreEn, titreDescriptionEn, sousTitreDescriptionEn, descriptionEn, tri )
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(pages, 'titreMenu' ~ app.request.locale | capitalize) }}
{% endblock %}

{% block content1 %}

  {% if pages.id == 1 %}
    {# Page Acceuil #}
    {% include 'pages/home.html.twig'%}

  {% elseif pages.id == 2 %}
    {# Page Portfolio des projets #}
    {% include 'pages/portfolio.html.twig'%}

  {% elseif pages.id == 3 %}
    {# Page Blog des posts #}
    {% include 'pages/blog.html.twig'%}

  {% elseif pages.id == 4 %}
    {# Page de contact #}
    {% include 'pages/contact.html.twig'%}

  {% endif %}
{% endblock %}
