{#
  ./templates/categories/index.html.twig
  Variables disponibles :
    - categories array (Categorie (id, nomfr, nomEn))
#}

{% for categorie in categories %}
  <li>
    <a href="{{ path('app_categories_show', {'id': categorie.id, 'slug' : attribute(categorie, 'slug' ~ app.request.locale | capitalize)}) }}">
      {{ attribute(categorie, 'nom' ~ app.request.locale) }}
    </a>
  </li>
{% endfor %}
