{#
  ./templates/categories/show.html.twig
  Variables disponibles:
    - categorie categories(id, nomfr, nomEn)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(categories, 'nom' ~ app.request.locale | capitalize) }}
{% endblock %}

{% block content1 %}

<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'categorie.titre' | trans }} : {{ attribute(categories, 'nom' ~ app.request.locale | capitalize) }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 featured-news">
        {% include 'posts/index.html.twig' with {posts: categories.posts} %}
        </div>
        <!-- Sidebar -->
				<div class="col-sm-4 blog-sidebar">
					<h4>{{ 'post.asideRecent' | trans }}</h4>
					<ul class="recent-posts">
            {{ render(controller('App\\Controller\\PostsController::indexAction', {vue: 'recent' , limit: 5} )) }}
					</ul>
					<h4>{{ 'post.asideCategorie' | trans }}</h4>
					<ul class="blog-categories">

            {% if app.request.locale == 'en' %}
              {{ render(controller('App\\Controller\\CategoriesController::indexAction', {orderBy:{ 'nomEn': 'ASC'}} )) }}
            {% else %}
              {{ render(controller('App\\Controller\\CategoriesController::indexAction', {orderBy:{ 'nomFr': 'ASC'}} )) }}
            {% endif %}

					</ul>
				</div>
				<!-- End Sidebar -->
      </div>
    </div>
  </div>

{% endblock %}
