<!DOCTYPE html>
<html class="no-js">
<html lang="fr">

  <head>
    {% include 'partials/head.html.twig' with {title: block('title')} %}
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <!-- Navigation -->
      {% include 'partials/nav.html.twig' %}
    </header>

    <!-- Contenu -->
    {% block content1 %}{% endblock %}

    <!-- Footer -->
    {% include 'partials/footer.html.twig' %}

    <!-- Scripts -->
    {% include 'partials/script.html.twig' %}
  </body>
</html>
