{#
  ./templates/projets/index.html.twig
  Variables disponibles :
    - projets array (Projet (id, nomFr, descriptionFr, texteSliderFr, nomEn, descriptionEn, texteSliderEn, client,
                             dateCreation, Createur, enVitrine, slider, updatedAt, image))
#}

{% for projet in projets %}
  <div class="projets-preview col-md-4 col-sm-6">
    <figure>
      <img src="{{ asset('images/portfolio/' ~ projet.image) }}" alt="{{ attribute(projet, 'nom' ~ app.request.locale | capitalize) }}">
      <figcaption>
        <h3>{{ attribute(projet, 'nom' ~ app.request.locale | capitalize) }}</h3>
        <span>{{projet.createur}}</span>
        <a href="{{ path('app_projets_show', {'id': projet.id, 'slug' : attribute(projet, 'slug' ~ app.request.locale | capitalize) }) }}">{{ 'bouton.look' | trans }}</a>
      </figcaption>
    </figure>
  </div>
{% endfor %}
