{#
  ./templates/projets/show.html.twig
  Variables disponibles:
    - projet projets(id, nomFr, descriptionFr, texteSliderFr, nomEn, descriptionEn, texteSliderEn, client,
                     dateCreation, Createur, enVitrine, slider, updatedAt, image)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute(projets, 'nom' ~ app.request.locale | capitalize) }}
{% endblock %}

{% block content1 %}

<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'projet.titre' | trans }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Product Image & Available Colors -->
        <div class="col-sm-6">
          <div class="product-image-large">
            <img src="{{ asset('images/portfolio/' ~ projets.image) }}" alt="{{ attribute(projets, 'nom' ~ app.request.locale | capitalize) }}">
          </div>
          <div class="colors">
            <span class="color-white"></span>
            <span class="color-black"></span>
            <span class="color-blue"></span>
            <span class="color-orange"></span>
            <span class="color-green"></span>
          </div>
        </div>
        <!-- End Product Image & Available Colors -->
        <!-- Product Summary & Options -->
        <div class="col-sm-6 product-details">
          <h2>{{ attribute(projets, 'nom' ~ app.request.locale | capitalize) }}</h2>
          <h3>{{ 'projet.sousTitre1' | trans }}</h3>
          <p>{{ attribute(projets, 'description' ~ app.request.locale | capitalize) | raw }}</p>
          <h3>{{ 'projet.sousTitre2' | trans }}</h3>
          <p><strong>Client: </strong>{{ projets.client}}</p>
          <p><strong>Date: </strong>{{ projets.dateCreation | date('d-m-Y')}}</p>
          <p>
            <strong>Tags: </strong>

            {% for tag in projets.tags %}
          <a href="{{ path('app_tags_show', {'id': tag.id, 'slug' : attribute(tag, 'slug' ~ app.request.locale | capitalize)}) }}">
            {{ attribute(tag, 'nom' ~ app.request.locale | capitalize) }}
          </a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
        <!-- End Product Summary & Options -->
      </div>
    </div>
  </div>
  <hr>

  <div class="section">
    <div class="container">
      <div class="row">

        <div class="section-title">
          <h1>{{ 'projet.related' | trans }}</h1>
        </div>
          <ul class="grid cs-style-2">
            {{ render(controller('App\\Controller\\ProjetsController::relatedAction', {vue: 'related', current: projets.id} )) }}
          </ul>
      </div>
    </div>
  </div>

{% endblock %}
