{#
  ./templates/projets/slide.html.twig
  Variables disponibles :
    - projets array (Projet (id, nomFr, descriptionFr, texteSliderFr, nomEn, descriptionEn, texteSliderEn, client,
                             dateCreation, Createur, enVitrine, slider, updatedAt, image))
#}

{% for projet in projets %}
  <div class="item {% if loop.index == 1 %}active{% endif %}" style="background-image: url({{ asset('images/slides/' ~ projet.slider) }})">
      <div class="container" >
          <div class="row">
              <div class="col-sm-12">
                  <div class="carousel-content centered">
                    <h2 class="animation animated-item-1">{{ attribute(projet, 'nom' ~ app.request.locale | capitalize) }}</h2>
                    <p class="animation animated-item-2">{{ attribute(projet, 'texteSlider' ~ app.request.locale | capitalize) }} </p>
                    <br/>
                    <a class="btn btn-md animation animated-item-3" href="{{ path('app_projets_show', {'id': projet.id, 'slug' : attribute(projet, 'slug' ~ app.request.locale | capitalize)}) }}">{{ 'bouton.learn' | trans }}</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endfor %}
